 html{
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

  }

  #bckgrnd{
    background: #e0e1dd;
  }

.skip{
  padding: 0.5rem;
  left: 50%;
  background-color: #F6F7EB;
  height: 2rem;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip:focus{
transform: translateY(0%);
}

nav a{
    text-decoration: none;
    color: black;
}

img{
    height: 30vw;
}


.info{
    display: grid;
    background-color: #e0e1dd;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    gap: 15px;
}

.album {
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    grid-column: 1/5;
}


.rating {
    font-weight: bold;
    color: green;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}

.fav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; 
    border-radius: 10px;
}


.comments{
    grid-row: 3;
    grid-column: 1/5;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 25px;
    padding: 10px
}

/* Genre Styles */
.genres{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.genres:nth-child(2){
    transform: rotate(1deg);
}

#Experimental{
    background-color: #f39c12;
}


/* Footer */

footer{
    color: black;
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
    text-align: center;
    margin-top: 0;
}


@media (prefers-color-scheme: dark){
    body{
        color:azure;
    }
    .album{
    background-color: gray;
 }
}