body {
    font-family: "Fredoka", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
            }

.skip{
  padding: 0.5rem;
  left: 50%;
  background-color: #F6F7EB;
  height: 2rem;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip:focus{
transform: translateY(0%);
}

.album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    min-width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album img {
   grid-column: 1/3;
   grid-row: 1/3;
   padding: 5px;
}

.album h1 {
    font-size: 40px;
    font-weight: bold;
    grid-column: 3/7;
    align-self: center;
}

.album p {
    color: #555;
}

.rating {
    font-weight: bold;
    color: #f39c12;
}

.comments{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 25px;
    padding: 10px
}

/* Individual Album Styles*/

/* A Fever You Can't Sweat Out - Panic! At the Disco */
#a1{
    background-color: maroon;
}

/* Akousmatikous */
#a2{

}
/* Baduizm */
#a3{
background-color: black;
}

/* Imaginal Disk - Magdalena Bay */
#a12{
    background-image: url("../images/misc/sky.jpg");
}


/* The Snow Strippers */
#a21{

}

/* Tidal */
#a22{

}

/* When the Pawn... Fiona Apple*/
#a25{
    background-color: maroon;
}
